<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walet Software Incubation Center</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Walet Software Incubation Center</h1>
        <p>በአማርኛ ቋንቋ ውስጥ ሲጠብቁ እና ሲላሉ የትርጉም ለውጥ የሚያመጡ ቃላትን እና ዓረፍተነገሮችን መሰብሰቢያ ድህረ ገፅ።</p>
    </header>
    <section id="input-form">
        <h2>በአማርኛ ቋንቋ ውስጥ ሲጠብቁ እና ሲላሉ የትርጉም ለውጥ የሚያመጡ ቃላትን እንዲሁም በእኒሁ ቃላቶች  ዓረፍተነገሮችን በመመስረት ለቋንቋዉ እድገት የበኩልዎትን ድርሻ ይወጡ።</h2>
        <h3>ለምሳሌ፦<br>
            ቃል፦ ዋና<br>
            ጠብቆ ሲነበብ="በፍቅር እስከ መቃብር ልብወለድ ውስጥ በዛብህ እና ሰብለወንጌል ዋና ገፀባህሪ ናቸዉ።"<br>
            ላልቶ ሲነበብ="ሙሉ ጤናን ለመጠበቅ ከሚረዱ የስፓርት አይነቶች ውስጥ የዋና እስፓርት አንዱ ነዉ።"
        </h3>

        <form id="wordForm">
            <label for="word">Enter word:</label>
            <input type="text" id="word" name="word" required>

	    <label for="voice">ድምፀት:</label>
            <select id="voice" name="voice">
                <option value="ጠብቆ ሲነበበ">ጠብቆ ሲነበብ</option>
                <option value="ላልቶ ሲነበብ">ላልቶ ሲነበብ</option>
            </select>
            
            <label for="sentence">Enter sentence:</label>
            <textarea id="sentence" name="sentence" rows="3" required></textarea>
            <br>
            <button type="submit">Submit</button>
            <p id="errorMessage" style="color: red; display: none;">The word already exists.</p>
        </form>
    </section>
    <footer>
        <p>&copy; 2024 Walet Software Incubation Center</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>